<%= form_with(model: temp, local: true) do |form| %>
  <% if temp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp.errors.count, "error") %> prohibited this temp from being saved:</h2>

      <ul>
      <% temp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :temp %>
    <%= form.text_field :temp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
