<!DOCTYPE html>
<html>
  <head>
    <title>Big Commerce Campus Temperatures</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('https://unpkg.com/axios/dist/axios.min.js') %>
    <%= favicon_link_tag 'bc-favicon.ico', skip_pipeline: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
